body {
    padding-top: 56px;
    width: 100%;
    height: 100%;
    display: table;
}
#wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.tekst
    {
	width: 200px;
   display: block;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}



